@font-face {
  font-family: 'josefin';
  src: url(../fonts/JosefinSans-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

header nav {
  position: absolute;
  height: 70px;
  z-index: 100;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: space-around;
  width: 100%;
}

header nav .icon {
  color: white;
}

header nav .logo img {
  width: 50px;
}

header nav .navig {
  text-transform: uppercase;
  font-family: 'josefin';
  justify-self: self-end;
}

header nav .navig a {
  margin: 0 10px;
  cursor: pointer;
}

header nav .navig .nav-active {
  color: #c33764;
}

header .navbar-active {
  background-color: #1d2671;
  position: fixed;
  height: 70px;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100vw;
  top: 0;
  justify-content: space-around;
}

header .banniere {
  background-color: red;
  height: 100vh;
  background: -webkit-linear-gradient(rgba(29, 38, 113, 0.6), rgba(195, 55, 100, 0.6)), url(../img/fond1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

header .banniere .contenu {
  position: absolute;
  top: 20%;
  left: 25%;
  border: 1px solid white;
  padding: 100px;
  z-index: 10;
}

header .banniere .contenu .titre {
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'josefin';
  color: white;
}

header .banniere .contenu .soustitre {
  font-family: 'josefin';
  color: white;
  font-size: 30px;
}

header .banniere .scroll-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header .banniere .scroll-indicator .scroll-indicator__text {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-family: 'josefin';
  pointer-events: all;
  cursor: pointer;
}

header .banniere .scroll-indicator .scroll-indicator__bar {
  width: 2px;
  background-color: #fff;
  animation: barre 3s infinite;
}

@keyframes barre {
  0% {
    height: 0px;
  }
  100% {
    height: 59px;
  }
}

@media screen and (max-width: 768px) {
  header .banniere {
    height: 50vh;
  }
  header .banniere .contenu {
    padding: 50px;
    left: 25%;
  }
}

@media screen and (max-width: 376px) {
  header .banniere {
    height: 50vh;
  }
  header .banniere .contenu {
    padding: 30px;
    left: 20%;
    top: 30%;
  }
  header .banniere .contenu .titre {
    font-size: 17px;
  }
  header .banniere .contenu .soustitre {
    font-size: 15px;
  }
}

.about {
  height: 100vh;
}

.galerie {
  height: 100vh;
}

.competence {
  background: -webkit-linear-gradient(#1d2671, #c33764);
  height: 100vh;
  color: white;
}

@media screen and (max-width: 768px) {
  .competence {
    height: 50vh;
  }
}

@media screen and (max-width: 376px) {
  .competence {
    height: unset;
  }
}

.contact {
  border: 1px solid white;
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60vw;
  height: 75vh;
}

.contact .titre-contact {
  color: white;
  font-family: 'josefin';
}

footer {
  background: #1d2671;
  color: white;
  display: flex;
  align-self: center;
}

footer .box-footer {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .box-footer .reseaux {
  display: flex;
  justify-content: space-evenly;
  color: white;
}

footer .copy {
  font-size: 12px;
}
