@font-face {
  font-family: 'josefin';
  src: url(../fonts/JosefinSans-Regular.ttf);
}

header nav {
  position: fixed;
  top: 2%;
  z-index: 10;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

header nav .logo img {
  width: 50px;
}

header nav .navig {
  text-transform: uppercase;
  font-family: 'josefin';
  justify-self: self-end;
}

header nav .navig a {
  margin: 0 10px;
  cursor: pointer;
}

header .banniere {
  background-color: red;
  height: 100vh;
  background: -webkit-linear-gradient(rgba(29, 38, 113, 0.6), rgba(195, 55, 100, 0.6)), url(../img/fond1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

header .banniere .contenu {
  position: absolute;
  top: 20%;
  left: 30%;
  border: 1px solid white;
  padding: 100px;
  z-index: 100;
}

header .banniere .contenu .titre {
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'josefin';
  color: white;
}

header .banniere .contenu .soustitre {
  font-family: 'josefin';
  color: white;
  font-size: 30px;
}

header .banniere .scroll-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header .banniere .scroll-indicator .scroll-indicator__text {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-family: 'josefin';
  pointer-events: all;
  cursor: pointer;
}

header .banniere .scroll-indicator .scroll-indicator__bar {
  width: 2px;
  height: 59px;
  background-color: #fff;
}

.about {
  height: 100vh;
}

.galerie {
  height: 100vh;
}

.competence {
  background: -webkit-linear-gradient(#1d2671, #c33764);
  height: 100vh;
  color: white;
}
