@font-face {
  font-family: 'josefin';
  src: url(../fonts/JosefinSans-Regular.ttf);
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header nav {
  position: absolute;
  height: 50px;
  z-index: 100;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: space-around;
  width: 100%;
}

header nav .logo img {
  width: 35px;
}

header nav .menu {
  display: none;
}

header nav .menu .icon {
  color: white;
}

header nav .navig {
  text-transform: uppercase;
  font-family: 'josefin';
  justify-self: self-end;
}

header nav .navig a {
  margin: 0 10px;
  cursor: pointer;
}

header nav .navig .nav-active {
  color: #c33764;
}

header .navbar-active {
  background-color: #1d2671;
  position: fixed;
  height: 50px;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 100vw;
  top: 0;
  justify-content: space-around;
}

header .banniere {
  background-color: red;
  height: 100vh;
  background: -webkit-linear-gradient(rgba(29, 38, 113, 0.7), rgba(195, 55, 100, 0.7)), url(../img/fond1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

header .banniere .contenu {
  position: absolute;
  top: 32%;
  left: 35%;
  transform: translateX(-100%);
  transform: translateY(-100%);
  border-radius: 8px;
  border: 1px solid white;
  width: 400px;
  height: 200px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .banniere .contenu .titre {
  font-size: 27px;
  text-transform: uppercase;
  font-family: 'josefin';
  color: white;
}

header .banniere .contenu .soustitre {
  font-family: 'josefin';
  color: white;
  font-size: 25px;
}

header .banniere .scroll-indicator {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header .banniere .scroll-indicator .scroll-indicator__text {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 20px;
  font-family: 'josefin';
  pointer-events: all;
  cursor: pointer;
}

header .banniere .scroll-indicator .scroll-indicator__bar {
  width: 2px;
  background-color: #fff;
  animation: barre 3s infinite;
}

@keyframes barre {
  0% {
    height: 0px;
  }
  100% {
    height: 59px;
  }
}

@media (min-width: 377px) and (max-width: 768px) {
  header .banniere {
    height: unset;
  }
  header .banniere .contenu {
    left: 27%;
  }
}

@media screen and (max-width: 376px) {
  body {
    overflow-x: hidden;
  }
  body header nav .navig {
    position: absolute;
    height: 200px;
    top: 0px;
    background: #1d2671;
    right: -100%;
    width: 0%;
    overflow-x: hidden;
    transition: all 0.3s ease;
  }
  body header nav .mobile {
    transition: all 0.3s ease;
    position: absolute;
    height: 200px;
    top: 0px;
    background: #1d2671;
    right: 0%;
    width: 100%;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  body header nav .mobile .navlink {
    padding: 5px 0;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  body header nav .menu {
    display: block;
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 23;
  }
  body header .banniere {
    height: 100vh;
  }
  body header .banniere .contenu {
    padding: 30px;
    left: 21%;
    top: 42%;
    height: unset;
    width: unset;
    padding: 6px;
  }
  body header .banniere .contenu .titre {
    font-size: 17px;
  }
  body header .banniere .contenu .soustitre {
    font-size: 15px;
  }
}

.about {
  height: 100vh;
}

.about p {
  font-family: 'josefin';
}

.about h1 {
  font-family: 'josefin';
}

@media screen and (max-width: 378px) {
  .about {
    height: unset;
  }
}

#galerie {
  overflow-x: hidden;
}

#galerie .carte {
  position: relative;
}

#galerie .carte .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  max-width: auto;
  text-transform: uppercase;
  font-family: 'josefin';
  display: none;
  overflow-wrap: break-word;
  transition: 1s all ease;
}

#galerie .carte #image img {
  width: 100%;
}

#galerie .carte:hover .caption {
  display: unset;
}

@media screen and (max-width: 376px) {
  #galerie {
    overflow-x: hidden;
  }
}

.competence {
  background: -webkit-linear-gradient(#1d2671, #c33764);
  height: 100vh;
  color: white;
}

@media screen and (max-width: 768px) {
  .competence {
    height: auto;
  }
}

@media screen and (max-width: 376px) {
  .competence {
    height: unset;
  }
}

footer {
  margin-top: 5%;
  padding: 15px;
  background: #1d2671;
  color: white;
}

footer .titre-footer {
  font-style: italic;
  margin-bottom: 13px;
}

footer .reseaux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

footer .reseaux a {
  color: white;
}

footer .reseaux a i {
  font-size: 35px;
  margin: 0 10px;
}

footer hr {
  border-color: white;
  width: 40%;
}

footer .copy {
  font-size: 12px;
}
