.about
    height: 100vh
    p
        font-family: 'josefin'
    h1
        font-family: 'josefin'
    .bouton
        background-color: white
        color: rgba(29, 38, 113, 1)
        border: 1px solid rgba(29, 38, 113, 1)
        margin: 0 13%
        &:hover
            background-color: rgba(29, 38, 113, 1)
            color: white

    // background-color: $colorBlue

@media screen and ( max-width: 378px )
    .about
        height: unset