footer
    background: $colorBlue
    color: white
    .box-footer
        padding: 30px
        display: flex
        align-items: center
        flex-direction: column
        justify-content: space-evenly
        .logo
            width: 10%
            margin-bottom: 20px
        .reseaux
            display: flex
            color: white
            margin-bottom: 5px
            .fab
                margin: 0 10px
                font-size: 25px
        .copy 
            font-size: 10px

