#galerie
    overflow-x: hidden
    .carte
        position: relative

    &&:hover
        color: $colorBlue
        .caption
            background-color: $colorBlue
            opacity: 0.9
            position: absolute
            top: 0
@media screen and ( max-width: 376px )
    #galerie
        overflow-x: hidden
